.app__nav{
    grid-area:n;
    background-color: burlywood;
    padding: 20px;
}
.item{
    text-decoration: none;
    color: white;
}
.active{
    color: gold;
    text-decoration: none;
}
NavLink{
    text-decoration: none;
}
.friendsItems{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}
.navbarIcons{
 font-size: 13px;
    font-weight: bold;
    width: 50px;
    text-align: center;
}
.navbarIcons img{
border-radius: 50% ;
    width: 40px;
}
a {
    text-decoration: none;
    color: white;
}