.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .oneDialogItem{
    display: flex;
    margin-bottom: 10px;
}
.dialogsItems {
    padding: 10px;
}

.dialog {
    color: white;
    text-decoration: none;
margin: auto 5px;
}
.dialogsItems .active{
    color: gold;
    text-decoration: none;
    margin: auto 5px;
}
.messages {
    padding: 10px;
}

.message {
    color: white;
    display: flex;
    margin-bottom: 10px;

}
.dialogsItems .dialogAvatar{
    width: 50px;
    border-radius: 50%;
}
.messages .dialogAvatar{
    width: 50px;
    border-radius: 50%;
}

.messageText{
    margin: auto 5px;
}
.left{
    color: red;
}
.right{
    color: rebeccapurple;
}
