.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialog {
    color: white;
    text-decoration: none;
}
.dialogsItems .active{
    color: gold;
    text-decoration: none;
}
.messages {
    padding: 10px;
}

.message {
    color: white;

}
NavLink{
    text-decoration: none;
}